.header-offer {
    background-color: #f3f3f3;
    padding: 8px 15px;
}

.offer-copy {
    text-align: center;
}

.logo-section {
    text-align: center;
    
    h1 {
        color: tomato;
        text-transform: capitalize;
    }
}

.accouts-section {
    text-align: right;
}
